* {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  background: <a href="http://s1000.photobucket.com/user/sustainhaiti2/media/blue_background.jpg.html" target="_blank"><img src="http://i1000.photobucket.com/albums/af125/sustainhaiti2/blue_background.jpg" border="0" alt=" photo blue_background.jpg"/></a>;
}

